---
layout: default
permalink: /store/
---


{% if site.tags.store.last  %}
  {% assign print = site.tags.store.last %}
{% endif %}

{% for post in site.tags.paintings reversed %}
  {% if post.available_url %}
    {% assign painting = post %}
    {% break %}
  {% endif %}
{% endfor %}

{% for post in site.tags.drawings reversed %}
  {% if post.available_url %}
    {% assign drawing = post %}
    {% break %}
  {% endif %}
{% endfor %}

  
{% if print %}
  {% assign post = print %}
  {% assign store_url = "/store/prints" %}
  <div class="news">
    <h1>Prints</h1>
    {% include store-item.html %}
  </div>
{% endif %}

{% if painting %}
  {% assign post = painting %}
  {% assign store_url = "/store/paintings" %}
  <div class="news">
    <h1>Paintings</h1>
    {% include store-item.html %}
  </div>
{% endif %}

{% if drawing %}
  {% assign post = drawing %}
  {% assign store_url = "/store/drawings" %}
  <div class="news">
    <h1>Drawings</h1>
    {% include store-item.html %}
  </div>
{% endif %}
